*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
   scroll-behavior: smooth;

}

.nav{
  transition: 0.3s linear all !important; 

}
.nav-link{
  cursor: pointer;
  padding: 20px;
}
.nav-link:hover{
  color: #24b4ba;
  }
  .nav-link:hover .arrow-nav-link
  {
    color: #24b4ba;
    }

.child-link{
  position: absolute;
  top: 20px;
  left: -20px;
  background-color: white;
  border-radius: 20px;
  padding: 0 40px;
  width: 110%;
  height: 0;
}
.children-link:hover .child-link{
  position: absolute;
  top: 20px;
  left: -20px;
  background-color: white;
  border-radius: 20px;
  padding: 0 40px;
  width: 110%;
}
.one-link{
  display: none;
}
.children-link:hover .child-link{
/* display: block; */
}
.ShowMoreBtn{
  position: relative;
  gap: 20px;
  z-index: 0;


}
.hoverShowMoreBtn{
  position: absolute;
  right: 0;
  width: 0%;
  height: 100%;
  border-radius: 40px;
  background-color: #24b4ba;
  z-index: -1;  transition: 0.2s linear all;

}
.arrow-icon{
  color: #24b4ba;
}
.ShowMoreBtn:hover .arrow-icon{
  color: white;
}
.ShowMoreBtn:hover{
  padding: 0 10px 0 20px;
  gap: 5px;
}
.ShowMoreBtn:hover .hoverShowMoreBtn{
  width: 100%;

}
.arrowsBtn{
  font-size: 55px;
  color: gray;
}
.arrowsBtn:hover{
  color: rgb(255, 250, 250);

}
.carousel-status{
  color: rgb(255, 255, 255) !important;
  position: absolute !important;
  top: calc(80% - 15px)!important;
  left: 47.5%;
  font-size: 25px !important;
}
@media (max-width: 600px) {
  .carousel-status{
    left: 37.5% !important;

  }
  .arrowsBtnR{
    left: 15vw;
  } 
  .arrowsBtnL{
    right: 15vw;
  }
}@media (max-width: 400px) {
  .carousel-status{
    left: 37.5% !important;

  }
  .arrowsBtnR{
    left: 15vw;
  } 
  .arrowsBtnL{
    right: 15vw;
  }
}

.scroll-line{
  background-color: white;
  width: 2px;  animation: mymove 3s infinite;
  right: 0;
}
@keyframes mymove {
  from {height: 0px;}
  to {height: 50px;}
}
.vision-card,.inner-vision-card{
  transition: 0.5s linear all;
  transform-style: preserve-3d;

}
.vision-card:hover .inner-vision-card{
  transform: rotateY(180deg);
}

.flip-card-back {
  position: absolute;
  width: 100%;
  height: 90%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {

  transform: rotateY(180deg);
}
.projects .slick-dots li button:before{
  width: 5px !important;
  font-size: 30px;
  height: 5px !important;
  bottom: 0 !important;
  border-radius: 50%;
  content:"" !important;
  background-color: #ffffff;transition: 0.2s linear all;
}

.projects .slick-dots li.slick-active button:before{
  width: 20px !important ;
  font-size: 30px;
  height: 3px !important;
  bottom: 0 !important;
  border-radius: 8px;
  content:"" !important;
  background-color: #fff9f9;
}
.projects .slick-dots{
  bottom: 50px !important;
  right: 50px !important;
  width: auto !important;
}

.tabs-projects{
  transition: 0.2s linear all;
}
